.main {
  background-image: url("../public/background.png");
  background-size: cover;
  background-position: center;

}
.mainRef {
  background-image: url("../public/reference.png");
  background-size: cover;
}
.singleDay {
  font-family: "Single Day", cursive;
  text-shadow: 2px 2px 10px #9effff;
}
.shojumaru {
  font-family: "Shojumaru", cursive;
  text-shadow: 2px 2px 10px #9effff;
}
.baobao {
  text-shadow: 2px 2px 10px #1dfefe;
}

@media (max-width:640px){
  .main {
    background-image: url("../public/background-mobile.png");
    background-size: cover;
    background-position: center;
  }
}